@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
  font-family: Roboto, Arial;
}

.navbar {
  background: #fff;
  margin-bottom: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.video-player {
  margin-left: 20px;
}

.video-player {
  font-size: 0.9rem; 
}

.video-player h3 {
  font-size: 1.3rem;
}

.video-player-details {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}

.video-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-right: 20px;
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry-title {
  font-weight: bold;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
}

.loading {
  padding-left: 20px;
}

.media-body {
  padding-left: 20px;
}

.like-dislike {
  float: right;
}

.view-count {
  float: left;
}

.video-statistics {
  padding: 20px 10px 70px 10px;
}

#thumbup, #thumbdown {
  padding: 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.view-count {
  font-size: 1.3rem;
}

#thumbup {
  color: green;
}

like-dislike img {
  position: absolute;
}

#thumbdown {
  color: red;
}

.channel-statistics {
  padding-bottom: 10px;
}

.channel-statistics img {
  border-radius: 50%;
}

.channel-thumbnail { 
  float: left; 
  border-radius: 50%;
  margin-bottom: 30px;
}

.channel-title {
  float:left;
  margin-left: 30px;
  margin-top: 30px;
  font-weight: bold;
}

.channel-subs {
  vertical-align: center;
}

.sub-container {
  float: right;
  padding: 29px;
}

.ch-info-container {
  
}

.channel-description {
  clear: both;
}

h5 {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
}

@media (max-width: 767px) {
  .video-list {
    margin-left: 20px;
  }

  .video-player {
    margin-right: 20px;
  }
}
